@import 'variables';

.search-result {
  display: flex;
  padding: 15px;
  background-color: $medium-grey;
}

.location-label {
  color: $lavender;
  font-weight: bold;
}

.add-icon {
  display: flex;
  align-items: center;
  color: $lavender;
}