<div class="page-container">
  <div class="content-container">
    <h1 class="title mb-5">My Weather</h1>
    <form class="login-form"
          [formGroup]="loginForm">
      <div class="d-flex flex-col mb-3">
        <label class="small-label color-lavender mb-1">EMAIL</label>
        <input type="email"
               [formControl]="emailControl"
               [autofocus]="true" />
        <div class="error-container"
             *ngIf="emailControl.errors && emailControl.dirty">
          <span *ngIf="emailControl.errors.required">Email is required</span>
          <span *ngIf="emailControl.errors.email">Please enter a valid email</span>
        </div>
      </div>
      <div class="d-flex flex-col mb-4">
        <label class="small-label color-lavender mb-1">PASSWORD</label>
        <input type="password"
               [formControl]="passwordControl" />
        <div class="error-container"
             *ngIf="passwordControl.errors && passwordControl.dirty">
          <span *ngIf="passwordControl.errors.required">Password is required</span>
          <span *ngIf="passwordControl.errors.boolMatch">Invalid password</span>
        </div>
      </div>
      <button class="round-btn fill-lavender color-white small-label mb-5"
              (click)="submit()">Log in</button>
    </form>
    <span class="mb-3">Are you new here?</span>
    <a class="round-btn border-lavender color-lavender small-label"
       routerLink="/register">Sign up</a>
  </div>
</div>