@import 'variables';
@import 'breakpoints';
@import 'mixins';

.page-container {
  width: 100%;
  height: 100%;
  background-color: $light-grey;
  color: black;
}

.content-container {
  @include content-container($max-content-width);
  height: 100%;
  padding-top: 30px;
  max-width: 400px;
}