<ng-container *ngIf="isHorizontal; else isSidenav">
  <div class="nav-links-group flex-row">
    <a mat-button class="nav-link-btn hide-xs" routerLink="/gallery" (click)="closeSidenav()">
      <i class="material-icons">image</i>
      <span class="mat-h1 nav-link-text">Gallery</span>
    </a>
    <a mat-button class="nav-link-btn hide-xs" routerLink="/projects" (click)="closeSidenav()">
      <i class="material-icons">sports_esports</i>
      <span class="mat-h1 nav-link-text">Projects</span>
    </a>
    <a mat-button class="nav-link-btn" color="accent" routerLink="/resume" (click)="closeSidenav()">
      <i class="material-icons">description</i>
      <span class="mat-h1 nav-link-text">Resume</span>
    </a>
  </div>
</ng-container>
<ng-template #isSidenav>
  <mat-nav-list>
    <a mat-list-item class="nav-link-btn" routerLink="/gallery" (click)="closeSidenav()">
      <mat-icon>image</mat-icon>
      <span class="mat-h1 nav-link-text">Gallery</span>
    </a>
    <a mat-list-item class="nav-link-btn" routerLink="/projects" (click)="closeSidenav()">
      <mat-icon>sports_esports</mat-icon>
      <span class="mat-h1 nav-link-text">Projects</span>
    </a>
  </mat-nav-list>
</ng-template>
