.nav-links-group {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.nav-link-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  padding: 15px 10px;
  
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
