@import 'variables';

.location-search-form {
  display: flex;
  flex-direction: column;
  background-color: $dark-grey;
  padding: 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.row-1 {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.row-2 {
  display: flex;
}

.lavender {
  color: $lavender;
}

.submit-btn {
  background-color: $lavender;
  color: white;
  width: 45px;
  height: 45px;
}

.search-results-container {
  z-index: 1;
  margin: 0 20px;
  transform: translateY(-20px);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}