<form class="location-search-form elevate"
      [formGroup]="locationSearchForm">
  <div class="row-1">
    <strong class="flex-grow color-lavender">ADD A LOCATION</strong>
    <i class="fas fa-location-arrow color-lavender"></i>
  </div>
  <div class="row-2">
    <input class="search-input"
           tabindex="0"
           type="text"
           [formControl]="locationControl"
           [autofocus]="true" />
    <button class="submit-btn"
            (click)="submit()"
            #searchSubmitBtn>
      <i class="fas fa-search"></i>
    </button>
    <ng-container *ngIf="results$ | async; then showResults">
    </ng-container>
  </div>
</form>

<ng-template #showResults>
  <div class="search-results-container"
       #searchResultsContainer>
    <sfwa-search-result-list [results]="results$ | async"
                             (selectedForTracking)="addToTracker($event)">
    </sfwa-search-result-list>
  </div>
</ng-template>